<h1 align="center">Delivery Parsing Solution</h1>

* **First Part**

#### Importing Modules

In [1]:
import pandas as pd
import numpy as np
from pymongo import MongoClient
from tabulate import tabulate

#### Sourcing CSV Data

In [2]:
data_folder = 'data/'
delivery_csv = 'delivery.csv'
placement_csv = 'placements.csv'

In [3]:
delivery_data = pd.read_csv(f"{data_folder}{delivery_csv}")
placement_data = pd.read_csv(f"{data_folder}{placement_csv}")

#### Data Exploration

In [4]:
delivery_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   placement_id  122 non-null    int64
 1   date          122 non-null    object
 2   impressions   122 non-null    int64
dtypes: int64(2), object(1)
memory usage: 3.0+ KB

In [5]:
placement_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      4 non-null      int64
 1   name    4 non-null      object
 2   start   4 non-null      object
 3   end     4 non-null      object
 4   cpm     4 non-null      int64
dtypes: int64(2), object(3)
memory usage: 288.0+ bytes

#### Data Preprocessing

In [6]:
delivery_data['date']=pd.to_datetime(delivery_data['date'])
placement_data.rename(columns = {'id':'placement_id'}, inplace = True)
placement_data['start']=pd.to_datetime(placement_data['start'])
placement_data['end']=pd.to_datetime(placement_data['end'])

#### Combining the data with Outer Join

In [7]:
combine_data = pd.merge(delivery_data, placement_data, 
                   on='placement_id', 
                   how='outer')

#### Aggregating Data

In [8]:
aggregation = {
    'start_date': pd.NamedAgg(column='date',aggfunc='min'),
    'end_date': pd.NamedAgg(column='date',aggfunc='max'),
    'impressions': pd.NamedAgg(column='impressions',aggfunc='sum'),
    'cpm' : pd.NamedAgg(column='cpm',aggfunc='first')
}

In [9]:
output_data = combine_data.groupby('name').agg(**aggregation)

#### Performing the Final Cost Calculation

In [10]:
output_data['final_cost'] = output_data['impressions']*output_data['cpm']*0.001
output_data['final_cost'] = output_data['final_cost'].round().astype(int)

#### Display the Output Data

In [11]:
print(tabulate(output_data, headers = 'keys', tablefmt = 'psql',disable_numparse=True))

+----------+---------------------+---------------------+---------------+-------+--------------+
| name     | start_date          | end_date            | impressions   | cpm   | final_cost   |
|----------+---------------------+---------------------+---------------+-------+--------------|
| Business | 2020-12-01 00:00:00 | 2020-12-31 00:00:00 | 1607958       | 8     | 12864        |
| Politics | 2020-12-01 00:00:00 | 2020-12-31 00:00:00 | 1529821       | 6     | 9179         |
| Sports   | 2020-11-01 00:00:00 | 2020-11-30 00:00:00 | 1083576       | 5     | 5418         |
| Travel   | 2020-11-01 00:00:00 | 2020-11-30 00:00:00 | 1035966       | 3     | 3108         |
+----------+---------------------+---------------------+---------------+-------+--------------+

### Storing the Processed Data in MongoDB

#### Connecting to the Remote DB

In [12]:
client =  MongoClient("mongodb+srv://xxxxxx:xxxxxxx@cluster0.eu19p.mongodb.net/Database?retryWrites=true&w=majority")

In [13]:
db = client['Ad_Revenue']
collection = db['Total_Cost']

#### Preparing Data for Insertion

In [14]:
output_data.reset_index(inplace=True)
data_dict = output_data.to_dict("records")

In [15]:
display(data_dict)

[{'name': 'Business',
  'start_date': Timestamp('2020-12-01 00:00:00'),
  'end_date': Timestamp('2020-12-31 00:00:00'),
  'impressions': 1607958,
  'cpm': 8,
  'final_cost': 12864},
 {'name': 'Politics',
  'start_date': Timestamp('2020-12-01 00:00:00'),
  'end_date': Timestamp('2020-12-31 00:00:00'),
  'impressions': 1529821,
  'cpm': 6,
  'final_cost': 9179},
 {'name': 'Sports',
  'start_date': Timestamp('2020-11-01 00:00:00'),
  'end_date': Timestamp('2020-11-30 00:00:00'),
  'impressions': 1083576,
  'cpm': 5,
  'final_cost': 5418},
 {'name': 'Travel',
  'start_date': Timestamp('2020-11-01 00:00:00'),
  'end_date': Timestamp('2020-11-30 00:00:00'),
  'impressions': 1035966,
  'cpm': 3,
  'final_cost': 3108}]

#### Insert collection

In [16]:
collection.insert_many(data_dict)

* **Second Part**

#### Using the Combined Data Frame for this task

In [17]:
combine_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 122 entries, 0 to 121
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   placement_id  122 non-null    int64
 1   date          122 non-null    datetime64[ns]
 2   impressions   122 non-null    int64
 3   name          122 non-null    object
 4   start         122 non-null    datetime64[ns]
 5   end           122 non-null    datetime64[ns]
 6   cpm           122 non-null    int64
dtypes: datetime64[ns](3), int64(3), object(1)
memory usage: 12.6+ KB

#### Setting the index as Date to be able to sort and filter data on its basis

In [18]:
combine_data = combine_data.set_index(combine_data['date'])

In [19]:
combine_data = combine_data.sort_index()

In [20]:
date_range_data = combine_data['2020-11-22':'2020-12-05']

#### Aggregating Data

In [21]:
aggregation = {
    'impressions': pd.NamedAgg(column='impressions',aggfunc='sum'),
    'cpm' : pd.NamedAgg(column='cpm',aggfunc='first')
}

In [22]:
output_data_02 = date_range_data.groupby('name').agg(**aggregation)

In [23]:
output_data_02['final_cost'] = output_data_02['impressions']*output_data_02['cpm']*0.001

In [24]:
output_data_02 = output_data_02.drop(['cpm'], axis=1)

In [25]:
output_data_02.head()

          impressions  final_cost
name
Business       277954    2223.632
Politics       217978    1307.868
Sports         318677    1593.385
Travel         312176     936.528

#### Performing the Final Cost Calculation

In [26]:
output_data_02 = output_data_02.agg(['sum'])
output_data_02['final_cost'] = output_data_02['final_cost'].round().astype(int)

In [27]:
print(tabulate(output_data_02, headers = 'keys', tablefmt = 'psql', disable_numparse=True))

+-----+---------------+--------------+
|     | impressions   | final_cost   |
|-----+---------------+--------------|
| sum | 1126785       | 6061         |
+-----+---------------+--------------+

#### Sending the Data to MongoDB

In [28]:
db = client['Ad_Revenue']
collection_02 = db['Total_Cost_Date_Range']

In [29]:
output_data_02.reset_index(inplace=True)
data_dict_02 = output_data_02.to_dict("records")

In [30]:
display(data_dict_02)

[{'index': 'sum', 'impressions': 1126785, 'final_cost': 6061}]

In [31]:
collection_02.insert_many(data_dict_02)